

@font-face {
  font-family: 'Display';
  src: url('./assets/fonts/Chollays-Kingkarto.otf')
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf')
}



@keyframes slowRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-outline-red{
  -webkit-text-stroke: rgb(255, 178, 178) 1px;
}

.font-outline-black{
  -webkit-text-stroke: rgb(0, 0, 0) 1px;
}

.font-outline-grey{
  -webkit-text-stroke: rgb(95, 95, 95) 1px;
}
.font-outline-white{
  -webkit-text-stroke: rgb(255, 255, 255) 0.5px;
}

.rotate-image {
  animation: slowRotate 10s linear 0s infinite normal forwards;
}

.vertical-text {
  writing-mode: vertical-rl; /* This will orient the text vertically from top to bottom, right to left */
  transform: rotate(180deg); /* Optional: Rotates the text 180 degrees so it reads from top to bottom */
}