@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Main, 'Courier New', Courier, monospace;
  font-weight: normal;
  background-color: rgb(0, 0, 0);
  background: repeating-linear-gradient(
    45deg,
    #000000, /* Black */
    #000000 10px, /* Width of the black stripe */
    #040404 10px, /* Start of the white stripe */
    #040404 12px /* Width of the white stripe */
  );
}

.main-background {
  background-color: rgb(0, 0, 0);
  background: repeating-linear-gradient(
    45deg,
    #000000, /* Black */
    #000000 10px, /* Width of the black stripe */
    #040404 10px, /* Start of the white stripe */
    #040404 12px /* Width of the white stripe */
  );

}


::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #676767; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #000000; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #1d1d1d; /* color of the scroll thumb on hover */
}


@font-face {
  font-family: Display;
  src: url('./assets/fonts/Staccto.otf')
}

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
}

@font-face {
  font-family: Main;
  src: url('./assets/fonts/Bender.otf')
}

.font-display {
  font-family: Display;
  
}

.font-glow-gray {
  /* text-shadow: 
  0 0 5px #FFFFFF, 
  0 0 20px #FFFFFF;  */

  text-shadow: 
  0 0 10px #949494, 
  0 0 1px #ffffff, 
  0 0 20px #bdbdbd;

}

.font-glow-black {
  /* text-shadow: 
  0 0 5px #FFFFFF, 
  0 0 20px #FFFFFF;  */

  text-shadow: 
  0 0 10px #000000, 
  0 0 1px #000000, 
  0 0 20px #000000;
}

.font-glow-white {
  /* text-shadow: 
  0 0 5px #FFFFFF, 
  0 0 20px #FFFFFF;  */

  text-shadow: 
  0 0 10px #939393, 
  0 0 1px #dbdbdb, 

  0 0 35px #ffffff;
}

.logo-text-size{
  font-size: clamp(2rem, 5vw, 10rem);
}

.box-glow-white {
  box-shadow: 0 0 69px 69px rgba(255, 255, 255, 0.03); /* x-offset, y-offset, blur-radius, color */
}

.box-glow-white-nav {
  box-shadow: 0 0 40px 10px  rgba(255, 255, 255, 0.05); /* x-offset, y-offset, blur-radius, color */
}

.box-glow-white-big {
  box-shadow: 0 0 200px 200px rgba(255, 255, 255, 0.1); /* x-offset, y-offset, blur-radius, color */
}

.box-glow-red-big {
  box-shadow: 0 0 100px 125px rgba(255, 63, 63, 0.1); /* x-offset, y-offset, blur-radius, color */
}

.box-glow-yellow-big {
  box-shadow: 0 0 100px 125px rgba(251, 255, 0, 0.1); /* x-offset, y-offset, blur-radius, color */
}

