@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Main, 'Courier New', Courier, monospace;
  font-weight: normal;
  background-color: black;
}


::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #ffffff; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #000000; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #1d1d1d; /* color of the scroll thumb on hover */
}


@font-face {
  font-family: Display;
  src: url('./assets/fonts/Staccto.otf')
}

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
}

@font-face {
  font-family: Main;
  src: url('./assets/fonts/Tomorrow-Regular.ttf')
}

.font-display {
  font-family: Display;
  
}

.font-glow-gray {
  /* text-shadow: 
  0 0 5px #FFFFFF, 
  0 0 20px #FFFFFF;  */

  text-shadow: 
  0 0 10px #949494, 
  0 0 1px #ffffff, 
  0 0 20px #bdbdbd;

}

.font-glow-black {
  /* text-shadow: 
  0 0 5px #FFFFFF, 
  0 0 20px #FFFFFF;  */

  text-shadow: 
  0 0 10px #000000, 
  0 0 1px #000000, 
  0 0 20px #000000;
}

.font-glow-white {
  /* text-shadow: 
  0 0 5px #FFFFFF, 
  0 0 20px #FFFFFF;  */

  text-shadow: 
  0 0 10px #ff7070, 
  0 0 2px #ff7070, 

  0 0 20px #ff0000;
}

.box-glow-white {
  box-shadow: 0 0 69px 69px rgba(255, 255, 255, 0.03); /* x-offset, y-offset, blur-radius, color */
}

.box-glow-white-nav {
  box-shadow: 0 0 40px 10px  rgba(255, 255, 255, 0.05); /* x-offset, y-offset, blur-radius, color */
}

.box-glow-white-big {
  box-shadow: 0 0 200px 200px rgba(255, 255, 255, 0.1); /* x-offset, y-offset, blur-radius, color */
}


